html,body {
	padding-top: 3rem;
}
#nav {
	padding:0.5rem 10%;
}
#question {
	height:200px;
	margin:1.5rem;
	word-wrap:break-word;
	overflow:auto;
	line-height: 2.5rem;
}
.button {
	outline: none !important;
	width: 100%;
	color: lightblue;
	background: transparent;
	border: 2px solid lightblue;
	border-radius: 6px;
	padding: 8px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.button:hover {
	background: lightblue;
	color: black;
}
#write {
	padding:1rem;
	min-height:300px;
}
::-webkit-scrollbar {/*滚动条整体样式*/
	width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
	background: lightblue;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
	border-radius: 10px;
	background: white;
}