<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>历史背诵</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="main">
				<div id="question"><p v-html="render(text)"></p></div>
				<p>得分率：<span id="score"></span>%</p>
				<button type="button" class="button">检查</button>
				<div class="form-group">
					<label for="write">自定义测试内容：</label>
					<textarea class="form-control" id="write" v-model="text"></textarea>
				</div>
			</div>
			<script>
				var vm = new Vue({
					el: "#main",
					data: {
						text: "创建输入框：[正确答案]  \n换行：行末敲两个空格"
					},
					methods: {
						// 渲染
						render: function(text){
							// 渲染输入框
							text = text.replace(/\[([^\[\]]*)\]/g,"<input type='text' class='input form-control' data-toggle='popover' data-trigger='focus' title='答案' data-content='$1'></input>");
							// 渲染换行
							text = text.replace(/\s\s\n/g,"<br>");
							return text;
						},
						// 检查答案
						check: function(){
							var ra = 0;
							var total = $(".input").length;
							$(".input").each(function (){
								var value = $(this).val();
								var answer = $(this).attr("data-content");
								if(value == answer) {
									ra = ra + 1;
									$(this).css("background-color","lightgreen");
								}
								else {
									$(this).css("background-color","rgb(241,156,178)");
								}
							});
							return parseFloat((ra / total)*100).toFixed(2);
						},
						// 显示答案
						answer: function(a){
							if(a==true){
								$('[data-toggle="popover"]').popover();   
							}
						}
					}
				});
				$(".button").click(function (){
					$("#score").text(vm.check());
					vm.answer(true);
				});
			</script>
		</div>
	</body>
</html>
